@model string


@{
    ViewBag.Title = "Delete Role";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Delete Role</h1>

<h3>The role @Model was deleted.</h3>

<h3><a asp-controller="Administration" asp-action="ListRoles">Click Here</a> to go back to Roles Main Page.</h3>