@model HardwareStoreBusinessLogicLibrary.DTOModels.CPIIndexDTO

@{
    ViewBag.Title = "Edit CPI Value";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>CPI Value</h1>

<h5>CPI Index Id: @Model.CPIIndexID</h5>
<h5>CPI Date: @Model.ProductCPIDateEntry</h5>
<h5>CPI Value: @Model.CPIIndexValue</h5>

<button asp-controller="CPI" asp-action="Edit" asp-route-id="@Model.CPIIndexID" class="btn btn-primary">Edit CPI Information</button>
