@model HardwareStoreBusinessLogicLibrary.DTOModels.CPIIndexDTO

@{
    ViewBag.Title = "Edit CPI Value";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Edit CPI Value</h1>

<form asp-controller="CPI" asp-action="Edit" method="post" enctype="multipart/form-data" class="mt-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <input hidden asp-for="CPIIndexID" />
        <input hidden asp-for="ActiveStatus"/>
        <div class="form-group row">
            <label asp-for="CPIIndexValue" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CPIIndexValue" class="form-control" placeholder="Enter Value" />
                <span asp-validation-for="CPIIndexValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProductCPIDateEntry" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="date" asp-for="ProductCPIDateEntry" class="form-control" placeholder="Enter Date" />
                <span asp-validation-for="ProductCPIDateEntry" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">Save Changes</button>
            <a asp-controller="CPI" asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>